
main {
    background-color: #000000;
    color: white;
    position: relative; /* To allow absolute children like .Introduction */
    min-height: 100vh; /* At least viewport height */
    padding: 0; /* Adjust as needed */
}

.Introduction {
    position: absolute; /* Absolute to main */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Perfect center */
    padding: 0 2rem; /* Optional side padding */
}


/* Small heading */
.Introduction h2 {
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'MonumentExtended-Black';
    margin: 0;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 600;
}

/* Large headline */
.Introduction h1 {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0;
    letter-spacing: -0.03em;
    line-height: 0.9;
    font-family: 'MonumentExtended-Black';
    text-transform: uppercase;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 0.5px white;
}

@media (min-width: 30em) {
    .Introduction h2 {
        font-size: 1.5rem;
    }
    .Introduction h1 {
        font-size: 3rem;
    }
}


@media (min-width: 55em){


    main {
        background-color: #000000;
        color: white;
        position: relative; /* To allow absolute children like .Introduction */
        min-height: 100vh; /* At least viewport height */
        padding: 0; /* Adjust as needed */
    }
    
    /* Center the Introduction section */
    .Introduction {
        position: absolute; /* Absolute to main */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Perfect center */
        padding: 0 2rem; /* Optional side padding */
    }
    
    /* Small heading */
    .Introduction h2 {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-family: 'MonumentExtended-Black';
        margin: 0;
        text-align: left;
        margin-bottom: 1rem;
        font-weight: 600;
    }
    
    /* Large headline */
    .Introduction h1 {
        font-size: 6rem;
        font-weight: 700;
        margin: 0;
        letter-spacing: -0.03em;
        line-height: 0.9;
        font-family: 'MonumentExtended-Black';
        text-transform: uppercase;
        text-align: left;
        color: transparent;
        -webkit-text-stroke: 1px white;
    }

}