/* ● MOBILE SETTINGS ● */

/* • Introduction • */


/* • Hero section full screen • */
.WorkHeroSection {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.WorkIntro {
    margin-bottom: auto; 
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 0 0rem;  
    width: 320px;
}

.WorkIntro h1 {
    font-family: 'NeueM-Bold';
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: -1px;
}

.WorkHighlight {
    font-family: 'NeueM-Book';
}

/* • Splide Sticker Auto Scroll  (Added From PageHome.css) • */


/* ◭ Project Intro Settings ◭ */
.WorkContainer  {
    color: black;
    padding: 1.5rem;
    margin-top: 60px;
}

.WorkTitle h4, .WorkTitle h3 {
    margin: 0;
}

.WorkTitle h4 {
    font-family: 'NeueM-MonoThin';
    color: #00000080;
    font-size: 18px;
}

.WorkTitle h3 {
    font-family: 'NeueM-Bold';
    font-size: 33px;
    letter-spacing: -0.7px;
   
}

.WorkContent p {
    font-family: 'NeueM-Book';
}



/* ● TABLET SETTINGS ● */
@media (min-width: 30em) {
    .WorkHeroSection {
        min-height: 100vh; 
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
    }

    .WorkIntro {
        margin-bottom: auto; 
        position: absolute; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        padding: 0 0rem;  
        width: 500px;
    }

    .WorkIntro h1 {
        font-family: 'NeueM-Bold';
        font-size: 3rem;
        text-align: center;
        letter-spacing: -1px;
    }

    .WorkHighlight {
        font-family: 'NeueM-Book';
    }

    /* ◭ Project Intro Settings ◭ */
    .WorkContainer  {
        color: black;
        padding: 4rem;
        margin-top: 60px;
    }
    
    .WorkTitle h4, .WorkTitle h3 {
        margin: 0;
    }
    
    .WorkTitle h4 {
        font-family: 'NeueM-MonoThin';
        color: #00000080;
        font-size: 18px;
    }
    
    .WorkTitle h3 {
        font-family: 'NeueM-Bold';
        font-size: 40px;
        letter-spacing: -0.7px;
       
    }

    .WorkContent p {
        font-family: 'NeueM-Book';
        text-align: right;
        font-size: 20px;
        /* max-width: 50%; */
        margin-left: auto;
    }




}


/* ● DESKTOP SETTINGS ● */


@media (min-width: 65em){ 


    .WorkHeroSection {
        min-height: 100vh; 
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
    }

    .WorkIntro {
        margin-bottom: auto; 
        position: absolute; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        padding: 0 2rem;
        width: 900px;  
    }

    .WorkIntro h1 {
        font-family: 'NeueM-Bold';
        font-size: 6rem;
        text-align: center;
        letter-spacing: -2px;
    }

    .WorkHighlight {
        font-family: 'NeueM-Book';
    }

    /* • Splide Sticker Auto Scroll  • */
    .splide {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
        pointer-events: visible;
    }


    .splide .splide__track ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 6.4rem;
        text-transform: uppercase;
        font-weight: 1000;
        font-family: 'MonumentExtended-Black';
    }
    
   
    .splide .splide__track ul li img {
        width: 6.4rem;
        height: 4rem;
    }
    
    .splide .splide__track-2 {
        background-color: #ffffff;
    }
    
    .splide .splide__track-2 ul li {
        color: black;
    }
    
    .ContainerWhite {
        background: linear-gradient(#FFFFFF, #E4E5DE);
        color: black;
        margin: 0;
        font-size: 1.5rem;
    }


    /* • Work Container & Content • */
    .WorkContainer  {
        padding: 0rem 14rem 0rem 14rem;
        margin-top: 9rem;
    }

    .WorkTitle h4, .WorkTitle h3 {
        margin: 0;
    }

    .WorkTitle h4 {
        font-family: 'NeueM-MonoThin';
        color: #00000080;
        font-size: 18px;
    }

    .WorkTitle h3 {
        font-family: 'NeueM-Bold';
        font-size: 80px;
        letter-spacing: -0.7px;
       
    }

    .WorkContent p {
        font-family: 'NeueM-Book';
        text-align: right;
        font-size: 30px;
        max-width: 75%;
        margin-left: auto
    }

}