
.ProjectDetailMain {
  background-color: #ffffff;
}

.ProjectDetailSection {
  padding: 1.5rem;
  background: #fff;
}

.ProjectContentFirst {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  font-family: 'NeueM-Book';
  padding: 100px 0px 50px;
  gap: 10px;
}

.ProjectTitle {
  font-size: 2rem;
  max-width: 800px;
  margin: 0;
  font-family: 'NeueM-Book';
}

.ProjectContentSecond {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  font-family: 'NeueM-Book';
}

.ProjectDesc {
  font-size: 1rem;
  max-width: 400px;
  margin: 0;
  text-align: left;    
}

.ProjectDetailImage  {
  border: #000 1px solid;
  height: 300px;
  border-radius: 0px 20px 0px 20px;
  padding: 10px;
}

.ProjectDetailImage img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 0px 20px 0px 20px;
  margin-bottom: 2rem;
  display: block;
  
}

.ProjectDetailTags .Tag {
  padding: 0.4rem 0.8rem;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid black;
}

.ProjectDetailTags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}

.BackLink {
  display: inline-block;
  margin-top: 2rem;
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
  font-family: 'NeueM-Med';
}

.SubTitle {
  font-family: 'NeueM-Med';
  text-transform: uppercase;
  font-size: 1.2rem;
  
}

/* Project Links */
   .ExternalLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin: 2rem 0;
  }

  .ExternalLinks a {
    padding: 0.5rem 1.6rem;
    background: transparent;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'NeueM-Thin';
    border: #000 1px solid; 
  }
  
  .ExternalLinks a:hover {
    background: #000000;
    color: white;
  }

  /* Tech Stack */
  .TechStackSection {
    margin-top: 7rem;
    padding: 0 0rem;
  }

  .TechStackHeading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    font-family: 'NeueM-Bold';
    font-size: 1rem;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    margin-bottom: 2rem;
    position: relative;
  }

  .TechStackHeading::before,
  .TechStackHeading::after {
    content: "";
    flex: 1;
    height: 1px;
    width: 1px;
    background: black;
  }

  .TechStackBox {
    border: 1px solid black;
    border-radius: 0px 20px 0px 20px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.7rem;
  }

  .TechIcon {
    height: 45px;
    width: auto;
  }

  /* Dev Process */
  .DevelopmentProcess {
    margin-top: 7rem;
    padding: 0 0rem;
  }

  .DevelopmentProcess .SubTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    font-family: 'NeueM-Bold';
    font-size: 1rem;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    margin-bottom: 2rem;
    position: relative;
  }

  .DevelopmentProcess .SubTitle::before,
  .DevelopmentProcess .SubTitle::after {
    content: "";
    flex: 1;
    height: 1px;
    background: black;
  }

  .DevProcessGrid {
    border: 1px solid black;
    border-radius: 0px 20px 0px 20px;
    padding: 1.2rem 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .DevStep {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .DevStep p {
    font-size: 1rem;
    font-family: 'NeueM-Book';
  }

  .StepHeader {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
  }

  .StepTitle {
    font-family: 'NeueM-Bold';
    font-size: 1rem;
    margin: 0;
  }

  .StepText {
    font-family: 'NeueM-Book';
    font-size: 0.95rem;
    line-height: 1.6;
    margin: 0;
  }


  .StepIcon {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-top: 0.3rem;
  }

  /* Responsive/Access Section */
  .ResponsiveShowcase {
    margin-top: 7rem;
    padding: 0 0rem;
  }

  .ResponsiveShowcase .SubTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    font-family: 'NeueM-Bold';
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
    position: relative;
    text-align: center;
  }

  .ResponsiveShowcase .SubTitle::before,
  .ResponsiveShowcase .SubTitle::after {
    content: "";
    flex: 1;
    height: 0.5px;
    background: black;
  }

  .ResponsiveTopRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;
  }

  .ResponsiveText {
    font-family: 'NeueM-Book';
    font-size: 1.3rem;
    letter-spacing: -0.5px;
    text-align: center;
  }

  .ResponsiveMobileImages {
    display: flex;
    justify-content: center;
    gap: 1.1rem;
  }

  .MobileScreen {
    height: 170px;
    width: auto;
  }

  /* Wrapper for the Mac image */
  .ResponsiveDesktopImage {
    display: flex;
    justify-content: center;
  }

   /* Mac image styling (match mobile) */
  .MacScreen {
  width: 100%;
  max-width: 1000px; /* or 800px or whatever size matches your design */
  height: auto;
}

.MacNote {
    font-family: 'NeueM-Book';
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: -0.5px;
    margin-top: 1rem;
  }

    /* Mini Footer */
.NextProjectFooter {
  background: black;
  color: white;
  height: 60vh;
  padding: 4rem 2rem;
  text-align: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-top: 7rem;
  position: relative;
}

.NextLabel {
  font-family: 'NeueM-Bold';
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0rem;
}

.NextTitle {
  font-size: 2rem;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-family: 'NeueM-Book';
  color: white;
  text-decoration: none;
}

.NextTitle:hover {
  text-decoration: underline;
}

.FooterLine {
  margin: 1rem auto;
  width: 95%;
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.582);
}

.AllWorksButton {
    padding: 0.7rem 3rem;
    background: transparent;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'NeueM-Thin';
    border: #ffffff 1px solid; 
    display: inline-block;
    margin-top: 1rem;
}

.AllWorksButton:hover {
  background: #ffffff;
  color: black;
}

.FooterSignature {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  font-family: 'NeueM-Bold';
  font-size: 0.75rem;
  opacity: 0.8;
}



@media (min-width: 30em) {
  .ProjectDetailMain {
    background-color: #ffffff;
  }

  .ProjectDetailSection {
    padding: 4rem;
    background: #fff;
  }


  .ProjectContentFirst {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    font-family: 'NeueM-Book';
    padding: 70px 10px 70px;
    gap: 10px;
  }
  
  .ProjectTitle {
    font-size: 2.5rem;
    max-width: 800px;
    margin: 0;
    font-family: 'NeueM-Book';
  }

  .ProjectContentSecond {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-family: 'NeueM-Book';
  }
  
  .ProjectDesc {
    font-size: 1rem;
    max-width: 400px;
    margin: 0;
    text-align: left;    
  }
  
  .ProjectDetailImage  {
    border: #000 1px solid;
    height: 500px;
    border-radius: 0px 20px 0px 20px;
    padding: 20px;
  }
  
  .ProjectDetailImage img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 0px 20px 0px 20px;
    margin-bottom: 2rem;
    display: block;
    
  }
  
  .ProjectDetailTags .Tag {
    margin-right: 0.5rem;
    padding: 0.4rem 0.8rem;
    gap: 10px;
    border-radius: 20px;
    border: 1px solid black;
  }
  
  .ProjectDetailTags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .BackLink {
    display: inline-block;
    margin-top: 2rem;
    font-size: 1.4rem;
    color: black;
    text-decoration: none;
    font-family: 'NeueM-Med';
  }

  /* Project Links */
   .ExternalLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin: 2rem 0;
  }

  .ExternalLinks a {
    padding: 0.7rem 1.6rem;
    background: transparent;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'NeueM-Thin';
    border: #000 1px solid; 
  }
  
  .ExternalLinks a:hover {
    background: #000000;
    color: white;
  }

  /* Tech Stack */
  .TechStackSection {
    margin-top: 9rem;
    padding: 0 0rem;
  }

  .TechStackHeading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-family: 'NeueM-Bold';
    font-size: 1.2rem;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    margin-bottom: 2rem;
    position: relative;
  }

  .TechStackHeading::before,
  .TechStackHeading::after {
    content: "";
    flex: 1;
    height: 1px;
    width: 1px;
    background: black;
  }

  .TechStackBox {
    border: 1px solid black;
    border-radius: 0px 20px 0px 20px;
    padding: 1.3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .TechIcon {
    height: 45px;
    width: auto;
  }

  /* Dev Process */
  .DevelopmentProcess {
    margin-top: 9rem;
    padding: 0 0rem;
  }

  .DevelopmentProcess .SubTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    font-family: 'NeueM-Bold';
    font-size: 1.2rem;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    margin-bottom: 2rem;
    position: relative;
  }

  .DevelopmentProcess .SubTitle::before,
  .DevelopmentProcess .SubTitle::after {
    content: "";
    flex: 1;
    height: 1px;
    background: black;
  }

  .DevProcessGrid {
    border: 1px solid black;
    border-radius: 0px 20px 0px 20px;
    padding: 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .DevStep {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .DevStep p {
  font-size: 1rem;
  font-family: 'NeueM-Book';
  }

  .StepHeader {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
  }

  .StepTitle {
    font-family: 'NeueM-Bold';
    font-size: 1.1rem;
    margin: 0;
  }

  .StepText {
    font-family: 'NeueM-Book';
    font-size: 0.95rem;
    line-height: 1.6;
    margin: 0;
  }

  .StepIcon {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    margin-top: 0.3rem;
  }

  /* Responsive/Access Section */
  .ResponsiveShowcase {
    margin-top: 9rem;
    padding: 0 0rem;
  }

  .ResponsiveShowcase .SubTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    font-family: 'NeueM-Bold';
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
    position: relative;
    text-align: center;
  }

  .ResponsiveShowcase .SubTitle::before,
  .ResponsiveShowcase .SubTitle::after {
    content: "";
    flex: 1;
    height: 0.5px;
    background: black;
  }

  .ResponsiveTopRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;
  }

  .ResponsiveText {
    font-family: 'NeueM-Book';
    font-size: 1.3rem;
    letter-spacing: -0.5px;
    text-align: center;
  }

  .ResponsiveMobileImages {
    display: flex;
    justify-content: center;
    gap: 1.1rem;
  }

  .MobileScreen {
    height: 270px;
    width: auto;
  }

  /* Desktop section container */
  .ResponsiveBottomColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 6rem;
  }

  /* Wrapper for the Mac image */
  .ResponsiveDesktopImage {
    display: flex;
    justify-content: center;
  }

  /* Mac image styling (match mobile) */
  .MacScreen {
  width: 100%;
  max-width: 1000px; /* or 800px or whatever size matches your design */
  height: auto;
}

  .MacNote {
    font-family: 'NeueM-Book';
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: -0.5px;
    margin-top: 1rem;
  }

   /* Mini Footer */
.NextProjectFooter {
  background: black;
  color: white;
  height: 70vh;
  padding: 4rem 2rem;
  text-align: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-top: 7rem;
  position: relative;
}

.NextLabel {
  font-family: 'NeueM-Bold';
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 0rem;
}

.NextTitle {
  font-size: 4rem;
  letter-spacing: -4px;
  text-transform: uppercase;
  font-family: 'NeueM-Book';
  color: white;
  text-decoration: none;
}

.NextTitle:hover {
  text-decoration: underline;
}

.FooterLine {
  margin: 2rem auto;
  width: 95%;
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.582);
}

.AllWorksButton {
    padding: 0.7rem 3rem;
    background: transparent;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'NeueM-Thin';
    border: #ffffff 1px solid; 
    display: inline-block;
    margin-top: 1rem;
}

.AllWorksButton:hover {
  background: #ffffff;
  color: black;
}

.FooterSignature {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  font-family: 'NeueM-Bold';
  font-size: 0.75rem;
  opacity: 0.8;
}

}










@media (min-width: 40em) {
  .ProjectDetailMain {
    background-color: #ffffff;
  }

  .ProjectDetailSection {
    padding: 4rem;
    background: #fff;
  }


  .ProjectContentFirst {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    font-family: 'NeueM-Book';
    padding: 120px 10px 70px;
    gap: 10px;
  }
  
  .ProjectTitle {
    font-size: 3rem;
    max-width: 800px;
    margin: 0;
    font-family: 'NeueM-Book';
  }

  .ProjectContentSecond {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-family: 'NeueM-Book';
  }
  
  .ProjectDesc {
    font-size: 1rem;
    max-width: 400px;
    margin: 0;
    text-align: left;    
  }
  
  .ProjectDetailImage  {
    border: #000 1px solid;
    height: 500px;
    border-radius: 0px 20px 0px 20px;
    padding: 20px;
  }
  
  .ProjectDetailImage img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 0px 20px 0px 20px;
    margin-bottom: 2rem;
    display: block;
    
  }
  
  .ProjectDetailTags .Tag {
    margin-right: 0.5rem;
    padding: 0.4rem 0.8rem;
    gap: 10px;
    border-radius: 20px;
    border: 1px solid black;
  }
  
  .ProjectDetailTags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .BackLink {
    display: inline-block;
    margin-top: 2rem;
    font-size: 1.4rem;
    color: black;
    text-decoration: none;
    font-family: 'NeueM-Med';
  }

  /* Project Links */
   .ExternalLinks {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
  }

  .ExternalLinks a {
    padding: 0.5rem 1.3rem;
    background: transparent;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'NeueM-Thin';
    border: #000 1px solid; 
  }
  
  .ExternalLinks a:hover {
    background: #000000;
    color: white;
  }

  /* Tech Stack */
  .TechStackSection {
    margin-top: 10rem;
    padding: 0 2rem;
  }

  .TechStackHeading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-family: 'NeueM-Bold';
    font-size: 1.5rem;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    margin-bottom: 2rem;
    position: relative;
  }

  .TechStackHeading::before,
  .TechStackHeading::after {
    content: "";
    flex: 1;
    height: 1px;
    width: 1px;
    background: black;
  }

  .TechStackBox {
    border: 1px solid black;
    border-radius: 0px 20px 0px 20px;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.2rem;
  }

  .TechIcon {
    height: 55px;
    width: auto;
  }

  /* Dev Process */
  .DevelopmentProcess {
    margin-top: 10rem;
    padding: 0 2rem;
  }

  .DevelopmentProcess .SubTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-family: 'NeueM-Bold';
    font-size: 1.5rem;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    margin-bottom: 2rem;
    position: relative;
  }

  .DevelopmentProcess .SubTitle::before,
  .DevelopmentProcess .SubTitle::after {
    content: "";
    flex: 1;
    height: 1px;
    background: black;
  }

  .DevProcessGrid {
    border: 1px solid black;
    border-radius: 0px 20px 0px 20px;
    padding: 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .DevStep {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .DevStep p {
  font-size: 1rem;
  font-family: 'NeueM-Book';
  }

  .StepHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.StepTitle {
  font-family: 'NeueM-Bold';
  font-size: 1.1rem;
  margin: 0;
}

.StepText {
  font-family: 'NeueM-Book';
  font-size: 0.95rem;
  line-height: 1.6;
  margin: 0;
}

  .StepIcon {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    margin-top: 0.3rem;
  }

  /* Responsive/Access Section */
  .ResponsiveShowcase {
    margin-top: 10rem;
    padding: 0 2rem;
  }

  .ResponsiveShowcase .SubTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-family: 'NeueM-Bold';
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 7rem;
    position: relative;
    text-align: center;
  }

  .ResponsiveShowcase .SubTitle::before,
  .ResponsiveShowcase .SubTitle::after {
    content: "";
    flex: 1;
    height: 0.5px;
    background: black;
  }

  .ResponsiveTopRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;
  }

  .ResponsiveText {
    font-family: 'NeueM-Book';
    font-size: 1.3rem;
    letter-spacing: 0px;
    text-align: center;
  }

  .ResponsiveMobileImages {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .MobileScreen {
    height: 320px;
    width: auto;
  }

  /* Desktop section container */
  .ResponsiveBottomColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 6rem;
  }

  /* Wrapper for the Mac image */
  .ResponsiveDesktopImage {
    display: flex;
    justify-content: center;
  }

  /* Mac image styling (match mobile) */
  .MacScreen {
  width: 100%;
  max-width: 1000px; /* or 800px or whatever size matches your design */
  height: auto;
}

  .MacNote {
    font-family: 'NeueM-Book';
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: -1px;
    margin-top: 1rem;
  }

   /* Mini Footer */
.NextProjectFooter {
  background: black;
  color: white;
  height: 70vh;
  padding: 4rem 2rem;
  text-align: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-top: 7rem;
  position: relative;
}

.NextLabel {
  font-family: 'NeueM-Bold';
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 0rem;
}

.NextTitle {
  font-size: 5rem;
  letter-spacing: -4px;
  text-transform: uppercase;
  font-family: 'NeueM-Book';
  color: white;
  text-decoration: none;
}

.NextTitle:hover {
  text-decoration: underline;
}

.FooterLine {
  margin: 2rem auto;
  width: 75%;
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.582);
}

.AllWorksButton {
    padding: 0.7rem 3rem;
    background: transparent;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'NeueM-Thin';
    border: #ffffff 1px solid; 
    display: inline-block;
    margin-top: 1rem;
}

.AllWorksButton:hover {
  background: #ffffff;
  color: black;
}

.FooterSignature {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  font-family: 'NeueM-Bold';
  font-size: 0.75rem;
  opacity: 0.8;
}

  

}



@media (min-width: 50em) {
  .ProjectDetailMain {
    background-color: #ffffff;
}

.ProjectDetailSection {
  padding: 4rem;
  background: #fff;
}

.ProjectContentFirst {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  font-family: 'NeueM-Book';
  padding: 120px 20px 100px;
  gap: 10px;
}

.ProjectTitle {
  font-size: 3.5rem;
  max-width: 800px;
  margin: 0;
  font-family: 'NeueM-Book';
}

.ProjectContentSecond {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  font-family: 'NeueM-Book';
}

.ProjectDesc {
  font-size: 1rem;
  max-width: 400px;
  margin: 0;
  text-align: left;    
}

.ProjectDetailImage  {
  border: #000 1px solid;
  height: 500px;
  border-radius: 0px 20px 0px 20px;
  padding: 20px;
}

.ProjectDetailImage img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 0px 20px 0px 20px;
  margin-bottom: 2rem;
  display: block;
  
}

.ProjectDetailTags .Tag {
  margin-right: 0.5rem;
  padding: 0.4rem 0.8rem;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid black;
}

.ProjectDetailTags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: flex-end;
}

.BackLink {
  display: inline-block;
  margin-top: 2rem;
  font-size: 1.4rem;
  color: black;
  text-decoration: none;
  font-family: 'NeueM-Med';
}

.SubTitle {
  font-family: 'NeueM-Med';
  text-transform: uppercase;
  font-size: 1.3rem;
  
}

/* Project Links */
  .ExternalLinks {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
  }

  .ExternalLinks a {
    padding: 0.7rem 1.5rem;
    background: transparent;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'NeueM-Thin';
    border: #000 1px solid; 
  }

  .ExternalLinks a:hover {
    background: #000000;
    color: white;
  }

  /* Tech Stack */
  .TechStackSection {
    margin-top: 13rem;
    padding: 0 4rem;
  }

  .TechStackHeading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-family: 'NeueM-Bold';
    font-size: 1.7rem;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-bottom: 2rem;
    position: relative;
  }

  .TechStackHeading::before,
  .TechStackHeading::after {
    content: "";
    flex: 1;
    height: 1px;
    width: 1px;
    background: black;
  }

  .TechStackBox {
    border: 1px solid black;
    border-radius: 0px 20px 0px 20px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.3rem;
  }

  .TechIcon {
    height: 55px;
    width: auto;
  }

  /* Dev Process */
.DevelopmentProcess {
    margin-top: 13rem;
    padding: 0 4rem;
  }

  .DevelopmentProcess .SubTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-family: 'NeueM-Bold';
    font-size: 1.7rem;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-bottom: 2rem;
    position: relative;
  }

  .DevelopmentProcess .SubTitle::before,
  .DevelopmentProcess .SubTitle::after {
    content: "";
    flex: 1;
    height: 1px;
    background: black;
  }

  .DevProcessGrid {
    border: 1px solid black;
    border-radius: 0px 20px 0px 20px;
    padding: 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .DevStep {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .DevStep p {
  font-size: 1rem;
  font-family: 'NeueM-Book';
  }

  .StepHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.StepTitle {
  font-family: 'NeueM-Bold';
  font-size: 1.1rem;
  margin: 0;
}

.StepText {
  font-family: 'NeueM-Book';
  font-size: 0.95rem;
  line-height: 1.6;
  margin: 0;
}

  .StepIcon {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    margin-top: 0.3rem;
  }

  /* Responsive/Access Section */
  .ResponsiveShowcase {
    margin-top: 13rem;
    padding: 0 2rem;
  }

  .ResponsiveShowcase .SubTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-family: 'NeueM-Bold';
   font-size: 1.7rem;
    text-transform: uppercase;
    margin-bottom: 7rem;
    position: relative;
    text-align: center;
  }

  .ResponsiveShowcase .SubTitle::before,
  .ResponsiveShowcase .SubTitle::after {
    content: "";
    flex: 1;
    height: 0.5px;
    background: black;
  }

  .ResponsiveTopRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;
  }

  .ResponsiveText {
    font-family: 'NeueM-Book';
    font-size: 1.4rem;
    letter-spacing: -0.5px;
    text-align: center;
  }

  .ResponsiveMobileImages {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .MobileScreen {
    height: 350px;
    width: auto;
  }

  /* Desktop section container */
.ResponsiveBottomColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 6rem;
}

/* Wrapper for the Mac image */
.ResponsiveDesktopImage {
  display: flex;
  justify-content: center;
}

/* Mac image styling (match mobile) */
.MacScreen {
  height: 350px;     /* just like .MobileScreen */
  width: auto;
  display: block;
}

  .MacNote {
    font-family: 'NeueM-Book';
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: -1px;
    margin-top: 1rem;
  }

  /* Mini Footer */
.NextProjectFooter {
  background: black;
  color: white;
  height: 70vh;
  padding: 4rem 2rem;
  text-align: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-top: 7rem;
  position: relative;
}

.NextLabel {
  font-family: 'NeueM-Bold';
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 0rem;
}

.NextTitle {
  font-size: 6rem;
  letter-spacing: -4px;
  text-transform: uppercase;
  font-family: 'NeueM-Book';
  color: white;
  text-decoration: none;
}

.NextTitle:hover {
  text-decoration: underline;
}

.FooterLine {
  margin: 2rem auto;
  width: 65%;
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.582);
}

.AllWorksButton {
    padding: 0.9rem 3rem;
    background: transparent;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'NeueM-Thin';
    border: #ffffff 1px solid; 
    display: inline-block;
    margin-top: 1rem;
}

.AllWorksButton:hover {
  background: #ffffff;
  color: black;
}

.FooterSignature {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  font-family: 'NeueM-Bold';
  font-size: 0.75rem;
  opacity: 0.8;
}


}


@media (min-width: 65em) {
    .ProjectDetailMain {
      background-color: #ffffff;
  }

  .ProjectDetailSection {
    padding: 4rem;
    background: #fff;
  }

  .ProjectContentFirst {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-family: 'NeueM-Book';
    padding: 120px 50px 100px;
  }

  .ProjectTitle {
    font-size: 4rem;
    max-width: 800px;
    margin: 0;
    font-family: 'NeueM-Book';
  }

  .ProjectContentSecond {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    font-family: 'NeueM-Book';
  }

  .ProjectDesc {
    font-size: 1.2rem;
    max-width: 500px;
    margin: 0;
    text-align: right;    
  }

  .ProjectDetailImage  {
    border: #000 1px solid;
    height: 500px;
    border-radius: 0px 20px 0px 20px;
    padding: 20px;
  }

  .ProjectDetailImage img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 0px 20px 0px 20px;
    margin-bottom: 2rem;
    display: block;
    
  }

  .ProjectDetailTags .Tag {
    margin-right: 0.5rem;
    padding: 0.4rem 0.8rem;
    gap: 10px;
    border-radius: 20px;
    border: 1px solid black;
  }

  .BackLink {
    display: inline-block;
    margin-top: 2rem;
    font-size: 1.4rem;
    color: black;
    text-decoration: none;
    font-family: 'NeueM-Med';
  }

  .SubTitle {
    font-family: 'NeueM-Med';
    text-transform: uppercase;
    font-size: 1.3rem;
    
  }

  /* Project Links */
  .ExternalLinks {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
  }

  .ExternalLinks a {
    padding: 0.7rem 2rem;
    background: transparent;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'NeueM-Thin';
    border: #000 1px solid; 
  }

  .ExternalLinks a:hover {
    background: #000000;
    color: white;
  }

  /* Tech Stack */
  .TechStackSection {
    margin-top: 15rem;
    padding: 0 4rem;
  }

  .TechStackHeading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-family: 'NeueM-Bold';
    font-size: 2.1rem;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-bottom: 2rem;
    position: relative;
  }

  .TechStackHeading::before,
  .TechStackHeading::after {
    content: "";
    flex: 1;
    height: 1px;
    width: 1px;
    background: black;
  }

  .TechStackBox {
    border: 1px solid black;
    border-radius: 0px 20px 0px 20px;
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.3rem;
  }

  .TechIcon {
    height: 60px;
    width: auto;
  }

  /* Dev Process */
  .DevelopmentProcess {
    margin-top: 17rem;
    padding: 0 4rem;
  }

  .DevelopmentProcess .SubTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-family: 'NeueM-Bold';
    font-size: 2.1rem;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-bottom: 2rem;
    position: relative;
  }

  .DevelopmentProcess .SubTitle::before,
  .DevelopmentProcess .SubTitle::after {
    content: "";
    flex: 1;
    height: 1px;
    background: black;
  }

  .DevProcessGrid {
    border: 1px solid black;
    border-radius: 0px 20px 0px 20px;
    padding: 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .DevStep {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .DevStep p {
  font-size: 20px;
  font-family: 'NeueM-Book';
  }

  .StepIcon {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-top: 0.3rem;
  }

  /* Responsive/Access Section */
  .ResponsiveShowcase {
    margin-top: 17rem;
    padding: 0 4rem;
  }

  .ResponsiveShowcase .SubTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-family: 'NeueM-Bold';
    font-size: 2.1rem;
    text-transform: uppercase;
    margin-bottom: 7rem;
    position: relative;
    text-align: center;
  }

  .ResponsiveShowcase .SubTitle::before,
  .ResponsiveShowcase .SubTitle::after {
    content: "";
    flex: 1;
    height: 0.5px;
    background: black;
  }

  .ResponsiveTopRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;
  }

  .ResponsiveText {
    font-family: 'NeueM-Book';
    font-size: 1.5rem;
    letter-spacing: -0.5px;
    text-align: center;
  }

    .ResponsiveMobileImages {
    display: flex;
    gap: 2rem;
  }

    .MobileScreen {
    height: 400px;
    width: auto;
  }

  /* Desktop section container */
.ResponsiveBottomColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 6rem;
}

/* Wrapper for the Mac image */
.ResponsiveDesktopImage {
  display: flex;
  justify-content: center;
}

/* Mac image styling (match mobile) */
.MacScreen {
  height: 450px;     /* just like .MobileScreen */
  width: auto;
  display: block;
}

.MacNote {
  font-family: 'NeueM-Book';
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: -1px;
  margin-top: 1rem;
}

/* Mini Footer */
.NextProjectFooter {
  background: black;
  color: white;
  height: 80vh;
  padding: 4rem 2rem;
  text-align: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-top: 10rem;
  position: relative;
}

.NextLabel {
  font-family: 'NeueM-Bold';
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 0rem;
}

.NextTitle {
  font-size: 7rem;
  letter-spacing: -4px;
  text-transform: uppercase;
  font-family: 'NeueM-Book';
  color: white;
  text-decoration: none;
}

.NextTitle:hover {
  text-decoration: underline;
}

.FooterLine {
  margin: 2rem auto;
  width: 70%;
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.582);
}

.AllWorksButton {
    padding: 0.9rem 3rem;
    background: transparent;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'NeueM-Thin';
    border: #ffffff 1px solid; 
    display: inline-block;
    margin-top: 1rem;
}

.AllWorksButton:hover {
  background: #ffffff;
  color: black;
}

.FooterSignature {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  font-family: 'NeueM-Bold';
  font-size: 0.75rem;
  opacity: 0.8;
}


}



@media (min-width: 75em) {

  .ProjectDetailMain {
    background-color: #ffffff;
}

  .ProjectDetailSection {
    padding: 4rem;
    background: #fff;
  }

  .ProjectContentFirst {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-family: 'NeueM-Book';
    padding: 120px 80px 100px;
  }
  
  .ProjectTitle {
    font-size: 6rem;
    max-width: 800px;
    margin: 0;
    font-family: 'NeueM-Book';
  }
  
  .ProjectContentSecond {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    font-family: 'NeueM-Book';
  }

  .ProjectDesc {
    font-size: 1.5rem;
    max-width: 600px;
    margin: 0;
    text-align: right;    
  }
  
  .ProjectDetailImage  {
    border: #000 1px solid;
    height: 800px;
    border-radius: 0px 20px 0px 20px;
    padding: 20px;
  }
  
  .ProjectDetailImage img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 0px 20px 0px 20px;
    margin-bottom: 2rem;
    display: block;
    
  }
  
  .ProjectDetailTags .Tag {
    margin-right: 0.5rem;
    padding: 0.4rem 0.8rem;
    border-radius: 20px;
    border: 1px solid black;
  }
  
  .BackLink {
    display: inline-block;
    margin-top: 2rem;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    font-family: 'NeueM-Med';
  }
  
  /* Project Links */

.ExternalLinks {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

.ExternalLinks a {
    padding: 0.7rem 2rem;
    background: transparent;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'NeueM-Thin';
    border: #000 1px solid; 
}

.ExternalLinks a:hover {
  background: #000000;
  color: white;
}

  /* Tech Stack */
.TechStackSection {
  margin-top: 15rem;
  padding: 0 4rem;
}

.TechStackHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-family: 'NeueM-Bold';
  font-size: 3rem;
    letter-spacing: -1px;
  text-transform: uppercase;
  margin-bottom: 2rem;
  position: relative;
}

.TechStackHeading::before,
.TechStackHeading::after {
  content: "";
  flex: 1;
  height: 1px;
  width: 1px;
  background: black;
}

.TechStackBox {
  border: 1px solid black;
  border-radius: 0px 20px 0px 20px;
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.TechIcon {
  height: 80px;
  width: auto;
}

  /* Dev Process */
.DevelopmentProcess {
  margin-top: 17rem;
  padding: 0 4rem;
}

.DevelopmentProcess .SubTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-family: 'NeueM-Bold';
  font-size: 3rem;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-bottom: 2rem;
  position: relative;
}

.DevelopmentProcess .SubTitle::before,
.DevelopmentProcess .SubTitle::after {
  content: "";
  flex: 1;
  height: 1px;
  background: black;
}

.DevProcessGrid {
  border: 1px solid black;
   border-radius: 0px 20px 0px 20px;
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.DevStep {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.DevStep p {
  font-size: 25px;
  font-family: 'NeueM-Book';
}

.StepHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.StepTitle {
  font-family: 'NeueM-Bold';
  font-size: 1.1rem;
  margin: 0;
}

.StepText {
  font-family: 'NeueM-Book';
  font-size: 0.95rem;
  line-height: 1.6;
  margin: 0;
}

.StepIcon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  margin-top: 0.3rem;
}

/* Responsive/Access Section */
.ResponsiveShowcase {
  margin-top: 17rem;
  padding: 0 4rem;
}

.ResponsiveShowcase .SubTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-family: 'NeueM-Bold';
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 7rem;
  position: relative;
  text-align: center;
}

.ResponsiveShowcase .SubTitle::before,
.ResponsiveShowcase .SubTitle::after {
  content: "";
  flex: 1;
  height: 0.5px;
  background: black;
}

.ResponsiveTopRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-bottom: 4rem;
}

.ResponsiveText {
  font-family: 'NeueM-Book';
  font-size: 2rem;
  letter-spacing: -1px;
  text-align: center;
}

.ResponsiveMobileImages {
  display: flex;
  gap: 6rem;
}

.MobileScreen {
  height: 500px;
  width: auto;
}

/* Desktop section container */
.ResponsiveBottomColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 6rem;
}

/* Wrapper for the Mac image */
.ResponsiveDesktopImage {
  display: flex;
  justify-content: center;
}

/* Mac image styling (match mobile) */
.MacScreen {
  height: 550px;     /* just like .MobileScreen */
  width: auto;
  display: block;
}


.MacNote {
  font-family: 'NeueM-Book';
  font-size: 2rem;
  text-align: center;
  letter-spacing: -1px;
  margin-top: 1rem;
}

/* Mini Footer */
  .NextProjectFooter {
  background: black;
  color: white;
  height: 80vh;
  padding: 4rem 2rem;
  text-align: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-top: 10rem;
  position: relative;
}

.NextLabel {
  font-family: 'NeueM-Bold';
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 0rem;
}

.NextTitle {
  font-size: 10rem;
  letter-spacing: -4px;
  text-transform: uppercase;
  font-family: 'NeueM-Book';
  color: white;
  text-decoration: none;
}

.NextTitle:hover {
  text-decoration: underline;
}

.FooterLine {
  margin: 2rem auto;
  width: 80%;
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.582);
}

.AllWorksButton {
    padding: 0.9rem 3rem;
    background: transparent;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'NeueM-Thin';
    border: #ffffff 1px solid; 
    display: inline-block;
    margin-top: 1rem;
}

.AllWorksButton:hover {
  background: #ffffff;
  color: black;
}

.FooterSignature {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  font-family: 'NeueM-Bold';
  font-size: 0.75rem;
  opacity: 0.8;
}


}
